
*{
margin: 0;

}


html,
 body{

height: 100%;
}

body{

font-family: Arial, Helvetica, sans-serif;
background-color: darkgray;

}

p{
margin: 0.5em 0 0.5em 0;
font-size: 2em;
}

header{

display: block;
position: fixed;
top: 0%;
left: 0%;
width: 100%;
background-color: rgb(115, 187, 221);
padding: 10px;
}

nav a:visited,
nav a:link{

color: white;
text-decoration: none;

}
nav >ul{
    display: inline;
    padding: 0;
}

nav>ul>li{
display: inline-grid;
list-style: none;
margin: 0 5px 0 5px;
         }
main{
    display: block;
background-image: url("images/background.png");
padding-top: 3em;
padding-bottom: 3em;
min-height: 85%;

}
footer{

    padding: 15px;
}

aside,article{
    padding: 2em;
}
aside{

    text-align: center;
}
article{

    width: 95%;
}

@media only screen and (min-width: 768px){

    main{
        display: flex;
    }

    
aside{
    margin-left: 2;
}
}

span{

    color: red;
}